{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Экспонаты</title>
    <link href="{% static 'main/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Музей Эрмитаж</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'all_exhibits_list'%}">Экспонаты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'rooms_list' %}">Комнаты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'exhibitions_list' %}">Выставки</a>
            </li>

            <li class="nav-item">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="sign-in.html">
                        <button type="button" class="btn btn-success">Войти</button>
                    </a>
                    <button type="button" class="btn btn-warning">Зарегистрироваться</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <h1 class="head-text">Список экспонатов</h1>
    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            Сортировать
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="?sort=date">По дате</a></li>
            <li><a class="dropdown-item" href="?sort=name">По названию (от А до Я)</a></li>
            <li><a class="dropdown-item" href="?sort=room">По номеру комнаты</a></li>
        </ul>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата</th>
            <th scope="col">Создатель</th>
            <th scope="col">Номер комнаты</th>
        </tr>
        </thead>
        <tbody>
        {% for exhibit in exhibits %}
        <tr>
            <td>{{ exhibit.name}}</td>
            <td>{{ exhibit.creation_year}}</td>
            <td>{{ exhibit.creator}}</td>
            <td>{{ exhibit.room}}</td>
            <td><a href="#">
                <button type="button" class="btn btn-secondary">Подробнее</button>
            </a>
            <td>
                <div class="btn-group">
                    <a href="{% url 'update_exhibit' exhibit.exhibit_id %}" class="btn btn-primary active"
                       aria-current="page">Изменить</a>
                    <a href="{% url 'delete_exhibit' exhibit.exhibit_id %}" class="btn btn-primary">Удалить</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_exhibit' %}">
        <button type="button" class="btn btn-warning">Добавить</button>
    </a>
</div>

<script src="{% static 'main/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>