{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Комнаты</title>
    <link href="{% static 'main/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Музей Эрмитаж</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'all_exhibits_list'%}">Экспонаты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'rooms_list' %}">Комнаты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'exhibitions_list' %}">Выставки</a>
            </li>

            <li class="nav-item">
                {% if request.session.username %}
            <li class="nav-item">
                <span class="nav-link">Привет, {{ request.session.username }}</span>
            </li>
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Выйти</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-success">Войти</button>
                    </a>
                    <a href="{% url 'register' %}">
                        <button type="button" class="btn btn-warning">Зарегистрироваться</button>
                    </a>
                </div>
            </li>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <h1 class="head-text">Список комнат</h1>

    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            Сортировать
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="?sort=number">По номеру</a></li>
            <li><a class="dropdown-item" href="?sort=description">По описанию</a></li>
        </ul>
    </div>


    <div class="mb-3">
        <form method="get" class="d-flex">
            <input type="text" name="q" class="form-control me-2 w-50" placeholder="Поиск по номеру"
                   value="{{ search_query|default:'' }}">
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_number }}</td>
            <td>{{ room.description }}</td>
            <td><a href="{% url 'exhibits_list' room_id=room.room_id %}">
                <button type="button" class="btn btn-secondary">Экспонаты</button>
            </a>
            </td>
            {% if request.session.role == 'admin' %}
            <td>
                <div class="btn-group">
                    <a href="{% url 'update_museum_room' room.room_id %}" class="btn btn-primary active"
                       aria-current="page">Изменить</a>
                    <a href="{% url 'delete_museum_room' room.room_id %}" class="btn btn-primary">Удалить</a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if request.session.role == 'admin' %}
    <a href="{% url 'add_museum_room' %}">
        <button type="button" class="btn btn-warning">Добавить</button>
    </a>
    {% endif %}


    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if rooms.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ rooms.previous_page_number }}&q={{ search_query }}&sort={{ request.GET.sort|default:'' }}">Предыдущая</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Предыдущая</span>
            </li>
            {% endif %}

            {% for num in rooms.paginator.page_range %}
            <li class="page-item {% if num == rooms.number %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}&q={{ search_query }}&sort={{ request.GET.sort|default:'' }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if rooms.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ rooms.next_page_number }}&q={{ search_query }}&sort={{ request.GET.sort|default:'' }}">Следующая</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Следующая</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script src="{% static 'main/js/bootstrap.bundle.min.js'%}"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>